[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
ipykernel = "*"
jupyter = "*"

[packages]
opencv-python = "*"
imageio = "*"
matplotlib = "*"
numpy = "*"
tqdm = "*"
Pillow = "*"
sklearn = "*"
imageio-ffmpeg = "*"
scikit-image = "*"
filterpy = "*"
motmetrics = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
