[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
rope = "*"
psutil = "*"
jupyter = "*"
matplotlib = "*"

[packages]
numpy = "*"
imageio = "*"
imageio-ffmpeg = "*"
opencv-python = "*"
cython = "*"
scikit-learn = "*"
scikit-image = "*"
pillow = "*"
tqdm = "*"
click = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
